body {
	color: white;
	background: #303030;
	background-attachment: fixed;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


html {
	scroll-behavior: smooth;
}

/*barra  naveg*/
.navbar-style {
	background: #3e58ee;

}


a {
	color: black;
	text-decoration: none;
	list-style: none;

}

a:hover {
	color: white;
	text-decoration: none;

}

.drop-miss a {
	padding: 10px 10px;
	display: block;
}

.navbar-light .navbar-nav .nav-link {
	color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:hover {
	color: white;
}


.divinicio {
	background: #fd5d5d;
	height: 300px;
	width: 100%;
}

.display-3 {
	font-size: 3.5rem;
}

.div-img2 {
	background: url(../img/salmon2.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}



/*---------------------------------inicio da capa 1------------------*/

.div_home {
	background: url(../img/salmon.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	border: #fd5d5d;
}

.div1 {

	color: white;
	height: 520px;

}

.h1-capa {
	padding-top: 0.4em;
	font-size: 4.5em;
	font-weight: 700;
	letter-spacing: -0, 04em;
}

h1 {
	font-size: 4em;
	font-weight: 700;
	letter-spacing: -0, 04em;
}

h2 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0, 04em;
}

h3 {
	font-size: 1em;
	font-weight: 700;
	letter-spacing: -0, 04em;
}

/*---------------------------------final da capa 1------------------*/


/************************************************************************************************/
.div_rio {

	color: white;
	width: 100%;
	background-image: url(/img/rio.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	font-size: 250%;

}




.div_mar {

	color: white;
	background-image: url(/img/mar.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-size: 250%;
	width: 100%;
	height: 100%;

}

.div_fruto_mar {

	color: white;
	background-image: url(/img/frutosdomar.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-size: 250%;
	width: 100%;
	height: 100%;
}







.whats {
	color: green;
}

/********************************************carol***************/

.divcar {

	color: rgb(0, 0, 0);
	width: 100%;
	height: 100%;
	background-color: white;


}

.p_sobre {
	font-size: large;
	font-size: 2em;
	color: rgb(0, 0, 0);
}



.carolsel-div {
	color: white;
	width: 100%;

}

.img-troll {

	height: 500px;
}






.divs {

	color: white;
	width: 100%;
	height: 100%;
	/*	animation: gradient 5s linear  alternate  infinite ;*/
	background: linear-gradient(-10deg, #0d1d77, #2c48e4) no-repeat;
	font-size: 250%;

}


#grade_mar {
	background: white;
	padding: 10px 0;
}


.albuns {
	padding: 10px 0;
}


.footer {
	background: rgb(41, 41, 41);
	;
	padding: 5px 0 5px 0;
	font-size: 20px;

}

.footer_mind {
	list-style: none;
	float: right;
}


.img-teste {
	height: 200px;
	width: 300px;
}