body {
	
	background: #2c48e4;
	background-attachment: fixed;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*barra  naveg*/
.navbar-style {
	background: #3e58ee ;
	opacity: 0.75;
}

.navbar-style:hover {
	opacity: 1;
}

.navbar-light .navbar-nav .nav-link  {
	color: rgb(0, 0, 0);
}
.navbar-light .navbar-nav .nav-link:hover {
	color: white;
}



#home {
	background: #2c48e4;
	color: white;
	width: 100%;
	height: 100%;
}



.div-img2 {
	background: url(../img/salmon2.png) ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


#home2 {
	background: #fd5d5d;
	color: white;
}

.back1 {
	background: #2c48e4;
	width: 100%;
	height: 100%;
}


/*---------------------------------inicio da capa 1------------------*/

.div-img {
	background: url(../img/salmon.png) ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	border: #fd5d5d;
}

.div1 {
	
	color: white;
	width: 100%;
	width: 100%;
	height: 100%;
}

 h1 {
	font-size: 6em;
	font-weight: 700;
	letter-spacing: -0,04em;
}
h2 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0,04em;
}	
h3 {
	font-size: 1em;
	font-weight: 700;
	letter-spacing: -0,04em;
}
/*---------------------------------final da capa 1------------------*/
.divs2 {
	
	color: white;
	width: 100%;
	background-image: url(/img/rio.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.divs3 {
	
	color: white;
	width: 100%;
	height: 100%;
	background-image: url(/img/mar.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}






.whats {
	color: green;
}

/********************************************carol***************/

.divs4 {
	
	color: white;
	width: 100%;
	height: 100%;
	background-color: black;
	
	
}


.carolsel-div {
	color: white;
	width: 100%;
	height: 100%;
	background-color: white;
}

.img-troll {
	align-items: center;
	height: 500px;
}


.divs {
	
	color: white;
	width: 100%;
	height: 100%;
	animation: gradient 5s linear  alternate  infinite ;
	background: linear-gradient(-25deg, #350b35 ,#09033a , #082525 , #050520) no-repeat;
	background-size: 300% 300%;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 300%;
}


.teste {
	
	animation: gradient 5s linear alternate infinite ;
	background: linear-gradient(-100deg, #3c2a3d, #0004ff) no-repeat;
	/*background: linear-gradient(-45deg, #5aa2b4, #4d7eb6, #5553e2, #cf16e7) no-repeat;*/
	/*/background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;*/
	background-size: 300% 300%;
	font-family: sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	height: 100px;
	font-size: 300%;
	
}



@keyframes gradient {
	from {
		background-position: 0 50%;
	}
	to {
		background-position: 100% 50%;
	}
	
}



.p_sobre {
	font-size: large;
	font-size: 2em;
	color: white;
}

.p_sobre:hover {
	color: rgb(102, 233, 222);
}
/*


.animation-text1 {
	animation: text1 1s linear alternate forwards;
	
}

@keyframes text1 {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
	
}

/*
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

  */